<% photos = thumb_gallery %>
<div class="thumb_gallery">
<% if photos.blank? %>
  <p class="no_photo">Aucune photo</p>
<% else %>
  <% photos.each_with_index do |photo, index| %>
      <%=	image_tag(photo.image.url(:medium), :class => 'thumb', :style => "display:none") %>
	<% end %>
<% end %>
</div>
