<%= render :partial => '/artists/artists_menu' %>

<div class="content align_left indent justify">
  <%=h @cross.description %>
  <div class="center">
    <%= image_tag 'cross_bg.jpg', :class => 'cross_bg' %>
  </div>
</div>