<% artists = Artist.find(:all, :order => "last_name ASC" )  %>

<div id="menu_gauche_wrapper">
	<ul id="menu_gauche">
		<% artists.each do |artist| %>
		  <% if((@artist and @artist.id == artist.id) or (@gallery and @gallery.artist.id == artist.id)) %>
		    <li><%= link_to artist.first_name, artist_path(artist), :class => 'active' %></li>
		  <% else %>
			  <li><%= link_to artist.first_name, artist_path(artist) %></li>
		  <% end %>
		<% end %>
	</ul>
</div>