<%= render :partial => 'artists_menu' %>

<div class="content">
	<a href="benjamin_bonaventure.php"> <img id="img" src="images/image_ben_mini.jpg" \></a>
	<a href="lison_de_reider.php"> <img id="img" src="images/image_lison_mini.jpg" \></a>
	<br/>
	<a href="gaspard_drubigny.php"> <img id="img" src="images/image_gaspard_mini.jpg" \></a>
	<a href="morgane_fourey.php"> <img id="img" src="images/image_morgane_mini.jpg" \></a>
	<br/>
	<a href="yannick_dubois.php"> <img id="img" src="images/image_yannick_mini.jpg" \></a>
	<a href="gregoire_laisne.php"> <img id="img" src="images/image_gregoire_mini.jpg" \></a>
	<br/>
	<a href="lise_lecocq.php"> <img id="img" src="images/image_lise_mini.jpg" \></a>
	<a href="simon_nicaise.php"> <img id="img" src="images/image_simon_mini.jpg" \></a>
</div>