<%= render :partial => '/artists/artists_menu' %>

<div class="content center">
	<img id="img" src="images/image_ben_mini.jpg" \>
	<img id="img" src="images/image_lison_mini.jpg" \>
	<br/>
	<img id="img" src="images/image_gaspard_mini.jpg" \>
	<img id="img" src="images/image_morgane_mini.jpg" \>
	<br/>
	<img id="img" src="images/image_yannick_mini.jpg" \>
	<img id="img" src="images/image_gregoire_mini.jpg" \>
	<br/>
	<img id="img" src="images/image_lise_mini.jpg" \>
	<img id="img" src="images/image_simon_mini.jpg" \>
</div>