<%= render :partial => '/artists/artists_menu' %>

<div id="menu_droite_wrapper">
  <ul id="menu_droite">
    <%= render :partial => "galleries/list_item", :collection => @artist.galleries %>
  </ul>
</div>

<div class="content">
  <div id="artist">
    <p class="indent justify"><%=h @artist.description %></p>
  </div>
</div>



