.lazy_edition_panel {
  clear: both;
  padding: 1em;
}

.lazy_edition_panel .label {
  float: left;
  width: 30%;
}

.lazy_edition_panel .content {
  float: right;
  width: 70%;
}

.lazy_edition_panel .content button.lazy_button {
  float: right;
}