.subheader {
  background-color: #606060;
  height: 45px;
  line-height: 45px;
  padding: 0 1em; }
  .subheader .subtitle {
    color: #383838;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    margin: 0 2em 0 0; }
  .subheader .submenu {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    list-style-type: none; }
    .subheader .submenu li {
      display: inline-block;
      margin: 0 2em 0 0; }
      .subheader .submenu li a {
        color: #ffffff;
        padding: 0.5em;
        text-decoration: none; }
      .subheader .submenu li a:hover {
        background-color: #3399ff;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomleft: 10px;
        -moz-border-radius-bottomright: 10px;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -webkit-border-bottom-right-radius: 10px; }
