<% post = list_item %>
<% post_counter = list_item_counter %>

<div class="list_item <%= post_counter.even? ? 'list_item_even' : 'list_item_odd' %>">
  <%= link_to "Modifier", edit_admin_post_path(post), :class => "right" %>
  <%= content_tag :h4, post.title %>
  <%= content_tag :p , post.body %>
</div>