<% gallery = list_item %>
<% counter = list_item_counter %>

<li>
  <% if(@gallery and @gallery.id == gallery.id) %>
    <%= link_to gallery.title, gallery_path(gallery), :class => 'active' %>
  <% else %>
    <%= link_to gallery.title, gallery_path(gallery) %>
  <% end %>
</li>